@font-face{
    font-family: 'Poppins Regular';
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

:root{
    --main-width: 1060px;
    --main-margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
}

.header-background{
    color: #ffffff;
}

.header{
    max-width: var(--main-width);
    margin: var(--main-margin);
}

.header h1{
    grid-column: 1/2;
    grid-row: 1;

    margin: var(--main-margin);
    text-align: center;
    color: crimson;
    align-self: center;
    font-size: 3rem;
}
.menu{
    grid-column: 6/9;
    grid-row: 1;

    display: flex;
    justify-content: flex-end;
}
.menu-item1{
    display: block;
    color: crimson;
    padding: 20px;
}
.menu-item2{
    display: block;
    color: crimson;
    padding: 20px;
}
.menu-item3{
    display: block;
    color: crimson;
    padding: 20px;
}
.header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}
.menu-button{
    display: none;
    padding: 20px;
    color: crimson;
}

.menu a:hover{
    background-color: rgb(228, 188, 188);
}

.welcome{
    width: 100%;
    min-height: 300px;
    background: url(../assets/bc.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.welcome .welcome-content{
    max-width: var(--main-width);
    margin: var(--main-margin);
    padding: 50px;
    color: white;
    font-size: 2rem;
    text-align: right;
}
.welcome img{
    width: 100%;
}

.about-background{
    background-color: #ececec;
}
.about{
    max-width: var(--main-width);
    margin: var(--main-margin);

    min-height: 300px;
    font-size: 1.5rem;

}
.about h2{
    grid-column: 1/8;
    grid-row: 1;
    font-size: 2rem;
    margin: 15px 0px 5px 0;
}
.about img{
    grid-column: 1/3;
    grid-row: 2;
}
.about p{
    padding: 0 20px;
    grid-column: 3/9;
    grid-row: 2;
    text-align: justify;
}

.portfolio-background{
    background-color: #ffffff;
}
.portfolio{
    max-width: var(--main-width);
    margin: var(--main-margin);

    justify-items: center;
}
.portfolio h2{
    font-size: 2rem;
    margin: 20px 0px;
}
.portfolio a{
    text-decoration: none;
    color: black;
    padding: 0px 4px;
}
.portfolio a:nth-child(1){
    grid-column: 1/3;
    grid-row: 1;
}
.portfolio a:nth-child(2){
    grid-column: 3/5;
    grid-row: 1;
}
.portfolio a:nth-child(3){
    grid-column: 5/7;
    grid-row: 1;
}
.portfolio a:nth-child(4){
    grid-column: 7/9;
    grid-row: 1;
}
.portfolio a:nth-child(5){
    grid-column: 1/3;
    grid-row: 2;
}
.portfolio a:nth-child(6){
    grid-column: 3/5;
    grid-row: 2;
}
.portfolio a:nth-child(7){
    grid-column: 5/7;
    grid-row: 2;
}
.portfolio a:nth-child(8){
    grid-column: 7/9;
    grid-row: 2;
}
.portfolio p{
    text-align: center;
    font-size: 1.2rem;
}

.contact{
    background-color: #ececec;
}

.contact-content{
    max-width: var(--main-width);
    margin: 0 auto;
}
.contact h2{
    font-size: 2rem;
    padding-top: 10px;
    margin: 20px 10px 10px 10px;
}
.contact form{
    max-width: 400px;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
}
.contact input, textarea{
    height: 35px;
    margin: 5px 0px;
    border-radius: 3px;
    border: 1px solid rgb(204, 213, 230);
    padding: 0px 5px ;
}
.contact input{
    height: 35px;
}
.contact textarea{
    height: 100px;
}
.contact button{
    height: 30px;
    margin-bottom: 10px;

    background-color: rgb(67, 196, 67);
    color: white;
    font-weight: bold;
    
    border-radius: 5px;
    border: 0px;
}
.contact button:active{
    background-color: rgb(39, 117, 39);
}

.footer-background{
    background-color: azure;
}
.footer{
    max-width: var(--main-width);
    margin: var(--main-margin);
    text-align: center;
}

.footer p{
    grid-column: 1/3;
    grid-row: 1;
    align-self: center;
    margin: 0;
}
.footer h1{
    grid-column: 4/6;
    grid-row: 1;
    align-self: center;
    margin: 0;
    
    color: crimson;
    font-size: 3rem;
}
.footer ul{
    grid-column: 7/9;
    grid-row: 1;

    display: flex;
    justify-content: flex-end;
}
.footer ul li{
    align-self: center;
}
.footer img{
    width: 25px;
    padding: 0 5px;
}

@media screen and (max-width: 930px){
    
    .portfolio h3{
        text-align: center;
        font-size: 1rem;
    }
    .portfolio img{
        width: 100%;  
    }
    .grid{
        gap: 0px;
    }
    
    .about img{
        align-self: center;
        width: 100%;
    }
    .about p{
        font-size: 1.4rem;
    }

    .portfolio a:nth-child(1){
        grid-column: 1/3;
        grid-row: 1;
    }
    .portfolio a:nth-child(2){
        grid-column: 4/6;
        grid-row: 1;
    }
    .portfolio a:nth-child(3){
        grid-column: 7/9;
        grid-row: 1;
    }
    .portfolio a:nth-child(4){
        grid-column: 1/3;
        grid-row: 2;
    }
    .portfolio a:nth-child(5){
        grid-column: 4/6;
        grid-row: 2;
    }
    .portfolio a:nth-child(6){
        grid-column: 7/9;
        grid-row: 2;
    }
    .portfolio a:nth-child(7){
        grid-column: 1/3;
        grid-row: 3;
    }
    .portfolio a:nth-child(8){
        grid-column: 4/6;
        grid-row: 3;
    }

}

@media screen and (max-width: 750px){
    
    .about p{
        font-size: 1.2rem;
    }

    .welcome .welcome-content{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px){
    
    .header h1{
        grid-column: 1/9;
        width: 100%;
        display: block;
    }

    .menu li{
        text-align: center;
    }

    .menu-item1{
        display: none;
        color: white;
    }
    .menu-item2{
        display: none;
        color: white;
    }
    .menu-item3{
        display: none;
        color: white;
    }    
    .menu-button{
        display: block;
    }

    .menu li:hover{
        background-color: rgb(228, 188, 188);
    }

    /* MENU ATIVO, ACHO QUE TA CERTO */
    .menu-active-ul{
        display: block;
        width: 100%;
        background-color: crimson;
        position: absolute;
        top: 70px;
    }
    .menu-active-item1{
        display: block;
    }  
    .menu-active-item2{
        display: block;
    }  
    .menu-active-item3{
        display: block;
    }    
    .menu-active-button{
        display: block;
    }
    
    .welcome .welcome-content{
        text-align: justify;
        font-size: 1rem;
        padding: 10px 10px;
    }
    
    .about{
        text-align: justify;
        font-size: 0.9rem;
    }
    .about h2{
        grid-column: 1/9;
        grid-row: 1;
        font-size: 2rem;
        text-align: center;
    }
    .about img{
        grid-column: 1/9;
        grid-row: 2;
        justify-self: center;
        width: 80%;
        
    }
    .about p{
        grid-column: 1/9;
        grid-row: 3;

        font-size: 1rem;

        text-align: justify;
        padding: 10px 10px;
    }

    .portfolio h2{
        text-align: center;
    }
    .portfolio p{
        text-align: center;
        font-size: 1rem;
    }
    .portfolio img{
        width: 100%;  
    }
    .grid{
        gap: 10px;
    }
    .portfolio a:nth-child(1){
        grid-column: 1/5;
        grid-row: 1;
    }
    .portfolio a:nth-child(2){
        grid-column: 5/9;
        grid-row: 1;
    }
    .portfolio a:nth-child(3){
        grid-column: 1/5;
        grid-row: 2;
    }
    .portfolio a:nth-child(4){
        grid-column: 5/9;
        grid-row: 2;
    }
    .portfolio a:nth-child(5){
        grid-column: 1/5;
        grid-row: 3;
    }
    .portfolio a:nth-child(6){
        grid-column: 5/9;
        grid-row: 3;
    }
    .portfolio a:nth-child(7){
        grid-column: 1/5;
        grid-row: 4;
    }
    .portfolio a:nth-child(8){
        grid-column: 5/9;
        grid-row: 4;
    }

    .contact h2{
        text-align: center;
    }

    .contact{
        padding-bottom: 15px;
    }

    .contact form{
        width: 80%;
    }
    .footer h1{
        font-size: 2.5rem;
    }
    .footer p{
        grid-column: 1/4;
        padding: 0px 0px;
        font-size: 0.7rem;
    }
    .footer img{
        width: 20px;
        padding: 0px 5px;
    }

}
